numpy==1.24.1
torch==2.2.2
torchvision==0.17.2

gitdb>=4.0
GitPython>=3.1
matplotlib>=3.7
networkx>=3.1
opencv-python-headless>=4.7
packaging>=23.2
pandas>=2.1
pillow>=10.2
pyarrow>=14.0
pydeck>=0.9
pyparsing>=3.1
python-dateutil>=2.8
pytz>=2024
PyYAML>=6.0
scipy>=1.11
seaborn>=0.13
streamlit==1.45.1
ultralytics==8.3.133
ultralytics-thop==2.0.14
urllib3>=2.1
watchdog>=3.0
